

.panel {
    width: 900px;
    background-color: oklab(86.995% 0 -0.0001);
    padding: 20px;
      margin: 0 auto;   /* centers horizontally */

}

input {
height: 28px;
margin: 10px 10px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
select,
button {
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    width: 120px; /* adjust as needed */
}


.action {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;

}
.buttons {
    

    overflow-y: auto;

}

.button-block {
    border: 10px solid #e1e1e1;
    padding: 8px;
    margin-bottom: 8px;
    min-height: 35px;
    
}

.macro-step {
  gap: 8px;
}


.numberinput {

      height: 30px;
      width: 120px;
  line-height: 50px;
  padding: 0 6px;
  box-sizing: border-box;
    
}

#reinContainer select,
#reinContainer input {
  height: 28px;
}

#reinContainer {
  display: flex;
  gap: 6px;
  align-items: center;
}
#reinContainer select {
  width: 150px; /* adjust as needed */
}